html,
body {
  height: 100%;
}

.navbar-brand{
margin: 30 30;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #333;
}
.card-body{
	background-color: #333;
	border-radius: 50px 50px 50px 50px;
	padding: 20px;
	width: 250px;
	height: 325px;
	justify-content: center;
	align-items: center;

}